﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Info</title>
</head>
<body>
   <ul>
       <li><p>Перший елемент</p></li>
       <li><p>Другий елемент</p></li>
       <li><p>Третій елемент</p></li>
   </ul>
</body>
</html>
